<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
</style>

<!-- Resources -->
 <script type="text/javascript" src="jquery-min.js" ></script>
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<!-- Chart code -->
<script>
var l={{l}}
console.log(l);
var obj={{obj}}
console.log(obj);
var k={{k}};
console.log(k);
var chart = AmCharts.makeChart("chartdiv", {
    "theme": "light",
    "type": "serial",
    "dataProvider": [{
        "area":"1" ,
        "Water Consumption": l[0],

    }, {
        "area": "2",
        "Water Consumption": l[1],

    }, {
        "area": "3",
        "Water Consumption": l[2],

    }, {
        "area": "4",
        "Water Consumption": l[3],

    }, {
        "area": "5",
        "Water Consumption": l[4],

    }, {
        "area": "6",
        "Water Consumption": l[5],

    }, {
        "area": "7",
        "Water Consumption": l[6],

    }, {
        "area": "8",
        "Water Consumption": l[7],

    }, {
        "area":"9",
        "Water Consumption": l[8],

    },
    {
       "area": "10",
       "Water Consumption": l[9],

   },
  ],
    "valueAxes": [{
        "stackType": "3d",
        "unit": " ",
        "position": "left",
        "title": "Water Consumption",
    }],
    "startDuration": 1,
    "graphs": [{
        "balloonText": "Water Consumption in [[category]] : <b>[[value]]</b>",
        "fillAlphas": 0.9,
        "lineAlpha": 0.2,
        "title": "2004",
        "type": "column",
        "valueField": "Water Consumption"
    }],
    "plotAreaFillAlphas": 0.1,
    "depth3D": 60,
    "angle": 30,
    "categoryField": "area",
    "categoryAxis": {
        "gridPosition": "start"
    },
    "export": {
    	"enabled": true
     }
});
jQuery('.chart-input').off().on('input change',function() {
	var property	= jQuery(this).data('property');
	var target		= chart;
	chart.startDuration = 0;

	if ( property == 'topRadius') {
		target = chart.graphs[0];
      	if ( this.value == 0 ) {
          this.value = undefined;
      	}
	}

	target[property] = this.value;
	chart.validateNow();
});
</script>

<!-- HTML -->
<div id="chartdiv"></div>
